body {
    font-family: Montserrat, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #3AB4F9;
}

nav .principal {
    font-size: 28px;
}

nav a span{
    color: rgba(255, 255, 255, 0.904);
    font-weight: 100;
}

nav a span:hover {
    font-size: 17px;
    font-weight: bold;
}

.container-fluid {
    text-align: center;
    font-family: Montserrat, sans-serif;
}
  
.container-fluid:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background: url('3872887.png.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

.title {
    padding-top: 90px;    
}

.main-title {
    vertical-align: center;
    padding: 20px;
}

.main-button {
    background-color: #3AB4F9;
    font-weight: bold;
    border: none;
    width: 15%;
    padding: 6px;
    transition: 1s all;
}

.main-button:hover {
    background-color: #A032F0;
}

.second-section {
    text-align: center;
    background: linear-gradient(white,rgba(40, 198, 248, 0.8));
}

.title-head {
    text-transform: uppercase;  
    text-align: center;
    padding: 50px 0; 
}

.box-advantages {
    background-color: rgba(160, 50, 240, 0);
    border-radius: 6px;
    padding: 10px;
    transition: 0.8s all;
}

.box-advantages:hover {
    background-color: rgba(160, 50, 240, 0.2);
}

.box-advantages:hover h2 {
    font-size: 34px;
}

.title-box {
    padding: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}

.second-section .box-advantages p {
    font-size: 18px;
}

.second-section i {
    color: white;
    padding: 20px;
}

.second-section p {
    font-size: 18px;
    padding: 20px;
    text-transform: uppercase;
}

.second-section {
    margin-top: 300px;
    text-align: center;
    background: linear-gradient(white, rgba(40, 198, 248, 0.8));
}

.third-section {
    background: linear-gradient(rgba(40, 198, 248, 0.8),  white, #A032F0);  
}

#third-picture {
    height: 45%;
    width: 100%;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    opacity: 0.8;
}

#third-picture:hover {
    opacity: 0.7;
}

.third-section h2 {
    text-align: left;
    padding-bottom: 10px;
}

.third-section p {
    line-height: 1.8;
}

.fourthy-section {
    background: linear-gradient(#DCB3FA, rgba(40, 198, 248));
    margin-top: -300px;
    padding-bottom: 50px;
}

.last-image {
    padding-top: 50px;
    vertical-align: center;
}

.form-last {
    background-color: rgba(253, 253, 253, 0.4);
    padding: 20px;
    border-radius: 5px;
}

.last-button {
    background-color: #A032F0;
    border: none;
    padding: 10px;
    width: 25%;
}

.last-button:hover {
    background-color:  #3AB4F9;
}

footer  {
    background: linear-gradient(rgba(40, 198, 248), #3AB4F9);
    text-align: center;
    font-style: italic;
    font-size: 14px;
}